html {
  font-family: 'Dosis', sans-serif;
  background-color: #dddddd;
}

body {
  margin: 0;
}

#navbar {
  display: inline-block;
  background-color: black;
  width: 100%;
}

#navbar-logo {
  float: left;
  text-align: center;
  font-size: 25px;
  padding: 12px;
  text-decoration: none;
  color: white;
}

#navbar-logo:hover {
  color: #f142f4;
}

#navbar-button {
  float: right;
  padding: 12px;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  color: white;
}

#navbar-button:hover {
  color: #f142f4;
}

#navbar-button:active {
  color: #f142f4;
}

#feed-box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 25%;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 5px;
  text-align: center;
  padding: 300px 10px;
  font-size: 20px;
}

#signup-div {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  width: 25%;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 5px;
  text-align: center;
}

#signup-div:hover {
  background-color: black;
}

#signup-button {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

#signup-button:hover {
  color: #f142f4;
}
