html {
  font-family: 'Dosis', sans-serif;
  background-color: #dddddd;
}

body {
  margin: 0;
}

#navbar {
  display: inline-block;
  background-color: black;
  width: 100%;
}

#navbar-logo {
  float: left;
  text-align: center;
  font-size: 25px;
  padding: 12px;
  text-decoration: none;
  color: white;
}

#navbar-logo:hover {
  color: #f142f4;
}

#navbar-button {
  float: right;
  padding: 12px;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  color: white;
}

#navbar-button:hover {
  color: #f142f4;
}

#navbar-button:active {
  color: #f142f4;
}

#signup-header {
  text-align: center;
  font-size: 65px;
}

#social-container {
  text-align: center;
}

.social-div {
  display: inline-block;
  height: 600px;
  width: 20%;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 5px;
  margin: 40px 50px;
  background-color: white;
}
