html {
  font-family: 'Dosis', sans-serif;
  background-color: #dddddd;
}

body {
  margin: 0;
}

#navbar {
  display: inline-block;
  background-color: black;
  width: 100%;
}

#navbar-logo {
  float: left;
  text-align: center;
  font-size: 25px;
  padding: 12px;
  text-decoration: none;
  color: white;
}

#navbar-logo:hover {
  color: #f142f4;
}

#navbar-button {
  float: right;
  padding: 12px;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  color: white;
}

#navbar-button:hover {
  color: #f142f4;
}

#navbar-button:active {
  color: #f142f4;
}

#signup-header {
  text-align: center;
  font-size: 65px;
}

#social-container {
  text-align: center;
}

.social-div {
  display: inline-block;
  height: 600px;
  width: 20%;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 5px;
  margin: 40px 50px;
  background-color: white;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}

.social-div:before {
  pointer-events: none;
  content: '';
  position: absolute;
  border: #f142f4 solid 8px;
  border-radius: 5px;
  top: -30px;
  right: -30px;
  bottom: -30px;
  left: -30px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}

.social-div:hover:before, .social-div:focus:before, .social-div:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  opacity: 1;
}

.div-header {
  font-size: 27px;
}

.social-input {
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  width: 80%;
  padding: 20px;
  margin-top: 40px;
  border-style: solid;
  border-radius: 5px;
}

.submit-button {
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin-top: 100px;
  width: 80%;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
}
